* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1px;
  justify-content: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 700px;
}

.padding-around {
  padding: 20px;
}

.main-color {
  color: #68c55e;
}

.black {
  color: black;
}

.f-weight {
  font-weight: 600;
}

.text-dec {
  text-decoration: none;
}

.nav-f-size {
  font-size: 50px;
}

.btn-primary {
  padding: 10px 14px;
  border: 3px solid black;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}

.rounded-corners {
  border-radius: 40px;
}

.max-width {
  width: max-content;
}

.img-size {
  width: 500px;
}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 75vh;
}

.gap {
  display: flex;
  gap: 2.5rem;
}

.small-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-text-size {
  font-size: 20px;
}

.small-border {
  border: 2px solid black;
}

.iframe {
  width: 1306px;
  height: 778px;
  border-radius: 60px;
}

.example {
  height: 110vh;
}

.small-pad {
  padding: 3rem;
}

.container {
  overflow: hidden;
  max-width: 100vw;
}

.text-center {
  text-align: center;
}

.fix {
  display: flex;
  flex-direction: row;
}

.icon-img {
  max-width: 100px;
}

.background-color-grey {
  background-color: #b4fdd0;
}

.test1 {
  margin-left: 400px;
}

.test2 {
  margin-right: 400px;
}

.banner {
  height: 30vh;
}

.main-background-color {
  background-color: #d6f0e0;
}

.bigpad-around {
  padding: 100px;
  width: 885px;
}

.mar-around {
  margin: 75px;
}

.big-gap {
  display: flex;
  gap: 7rem;
}

.p-text {
  font-size: 21px;
}

.spin-img {
  width: 150px;
}

.verybig-gap {
  display: flex;
  gap: 75px;
  flex-direction: column;
}

.light-green {
  background-color: #b4fdd0;
}
